@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	scroll-margin-top: var(--header-height);
}

:root {
	--header-height: 7rem;
	--sidebar-width: 20rem;

	--background-color: #B2F5EA;
}

body {
	padding-top: var(--header-height);
}

.top-image {
	height: 350px;
}

.top-image>img {
	height: 100%;
	object-fit: cover;
	object-position: bottom;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;

	z-index: 9999;
}

main {
	min-height: calc(100vh - var(--header-height));
}

.pink-to-blue {
	background: linear-gradient(#F28DE5, #B2F5EA);
}

.pink-to-blue-rotated {
	background: linear-gradient(90deg, #F28DE5, #B2F5EA);
}

p {
	font-family: 'Quicksand', sans-serif;
}
h1 {
	font-family: 'Monoton';
}
h2 {
	font-family: 'Zen Dots', sans-serif;
}

.zen-dots-regular {
	font-family: "Zen Dots", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.navbar {
	background-color: #4B0082;
	height: var(--header-height);
}

.form-label {
	color: #000;
	font-family: 'Zen Dots', sans-serif;

}

a {
	font-family: hollywood-one-sc-regular, sans-serif;
}

.nav-button {
	color: black;
	background-color: #FCFC7A;

	width: 4rem;
	height: 4rem;

	display: flex;
	justify-content: center;
	align-items: center;
}

.logo {
	height: 100%;
}

.logo>img {
	height: 100%;
}

#sidebar {
	background-color: #FCFC7A;
	padding: 2rem;

	position: fixed;
	top: var(--header-height);
	left: calc(var(--sidebar-width) * -1);

	width: var(--sidebar-width);
	height: 100%;

	display: flex;
	flex-direction: column;

	transition: all 0.5s;
}

#sidebar a {
	color: #4B0082;
	font-size: 1rem;
	font-weight: 900;
	text-decoration: none;
	padding-block: 0.5rem;
}

#sidebar.active {
	left: 0;
}


footer {
	min-height: 15rem;
}

footer .footer-icon {
	height: 3rem;
}


.CTA {
	background-color: #FCFC7A;
	color: black;
	font-size: 1.5rem;
	font-weight: 900;
	text-align: center;
	padding: 1rem;

	box-shadow: 5px 5px 0 0 #4B0082;
	transition-property: box-shadow color background-color;
	transition-duration: 300ms;
}

.CTA.CTA-small {
	width: 80%;
	font-size: 1rem;
	text-wrap: nowrap;
	padding: 0.25rem;
	box-shadow: 2px 2px 0 0 #4B0082;
}

.CTA:hover {
	background-color: #4B0082;
	color: white;
	box-shadow: 5px 5px 0 0 #FCFC7A;
}

.CTA-kakigreen {
	background-color: #8799A5;
	color: white;
	box-shadow: 5px 5px 0 0 #F28DE5;
}

.CTA-kakigreen:hover {
	background-color: #F28DE5;
	color: white;
	box-shadow: 5px 5px 0 0 #8799A5;
}


.artist-container {
	display: flex;  /* Zorgt ervoor dat de artiesten naast elkaar staan */
	overflow-x: auto; /* Maakt horizontale scroll mogelijk */
	gap: 10px; /* Ruimte tussen de kaarten */
	padding-bottom: 10px; /* Extra ruimte onder de container */
	flex-wrap: nowrap; /* Voorkomt dat de artiesten naar een nieuwe regel gaan */
}
.artist-container::-webkit-scrollbar {
	height: 10px; /* Hoogte van de horizontale scrollbar */
  }
  
  /* De "duim" (het deel dat je kunt slepen) van de scrollbar */
  .artist-container::-webkit-scrollbar-thumb {
	background-color: purple; /* Gele kleur voor de duim */
	border-radius: 5px; /* Ronde hoeken voor de duim */
	border: 2px solid #ccc; /* Een rand rondom de duim */
  }
  
  /* De achtergrond van de scrollbar */
  .artist-container::-webkit-scrollbar-track {
	background-color: yellow; /* Kleur van de achtergrond van de scrollbar */
	border-radius: 5px; /* Ronde hoeken voor de achtergrond */
  }
.artist-card {
	flex: 0 0 auto; /* Zorgt ervoor dat de kaarten hun eigen grootte behouden */
	width: 406px; /* Breedte van de kaarten */
	text-align: center;
}

.accordion-button {
	font-weight: bold;
}

.accordion-body {
	padding: 10px 0;
}

.accordion-collapse {
	max-height: 400px; /* Maximale hoogte van de accordion */
	overflow-y: auto; /* Verticaal scrollen inschakelen */
}
.jazz-overview-timetable-container {
    max-width: 1250px;
    margin: 50px auto;
    padding: 20px;
    background-color: #e1fbff;
    border-radius: 10px;
}

.jazz-overview-text-center {
    text-align: center;
}

.mb-4 {
    margin-bottom: 1.5rem;
}

.jazz-overview-timetable {
    display: grid;
    gap: 10px;
}

.jazz-overview-day-column {
    padding: 10px;
    background-color: #ffb6f0;
    border-radius: 10px;
}

h3 {
    margin-bottom: 10px;
}

.jazz-overview-place-section {
    margin-bottom: 20px;
}

.jazz-overview-place {
    background-color: #ff8c8c;
    padding: 10px;
    border-radius: 5px;
}

.jazz-overview-performance-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    margin-top: 10px;
}

.jazz-overview-performance {
    background-color: #9e44d6;
    padding: 10px;
    border-radius: 5px;
    color: white;
}

.create-account-container {
	max-width: 500px;
	margin: 0 auto;
}


.required {
	color: red !important;
	display: inline;
	float: none;
}

.btn-primary {
	background-color: #FCFC7A !important;
	color: #000 !important;
	font-family: 'holtwood-one-sc-regular', sans-serif !important;
	border-color: #000 !important;
	font-size: 20pt !important;
	border-radius: 50px !important;
}

.create-account-container {
	max-width: 600px !important;
	margin: 0 auto;
}

.submitbtn {
	background-color: #FCFC7A !important;
	color: #000 !important;
	font-family: 'holtwood-one-sc-regular', sans-serif !important;
	border-color: #000 !important;
	font-size: 20pt !important;
	border-radius: 50px !important;
}

.submitbtn:hover {
	filter: brightness(90%);
}

.form-control {
	border-radius: 50px !important;
}

#accountbar {
	background-color: #FCFC7A;
	padding: 2rem;
	position: fixed;
	top: var(--header-height);
	right: calc(var(--sidebar-width) * -1);
	width: var(--sidebar-width);
	height: fit-content;
	display: flex;
	flex-direction: column;
	transition: all 0.5s;
}

#accountbar a {
	color: #4B0082;
	font-size: 1rem;
	font-weight: 900;
	text-decoration: none;
	padding-block: 0.5rem;
}

#accountbar.active {
	right: 0;
}

/* ============================= */
/* YUMMIE  				         */
/* ============================= */

.yummieOverview-dropdown {
	background-color: #FCFC7A !important;

}

.dropdown-menu {
	background-color: #FCFC7A !important;
	color: black !important;
	font-size: 1.5rem;
	font-weight: 900;
	text-align: center;
}

.yummieOverview-dropdown:hover {
	background-color: #DBDB05 !important;
}

.dropdown-item:hover {
	background-color: #DBDB05 !important;
	/* Dezelfde hover-kleur als de knop */
}

.yummieOverview-container {
	padding: 2rem 0;
	display: flex;
	justify-content: center;
}

.yummieOverview-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.yummieOverview-card {

	background: white;
	border-radius: 10px;
	overflow: hidden;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border: 1px solid #ddd;
	z-index: 1;
}

.yummieOverview-card-body {
	padding: 1rem;
}

.yummieBtnPrimaryYellow {
	background-color: #FCFC7A !important;
	color: black !important;
	font-size: 1.5rem;
	font-weight: 900;
	text-align: center;
	border: 2px solid black;
	box-shadow: 5px 5px 0 0 #4B0082;
	transition: all 0.3s ease-in-out;
}

.yummieBtnPrimaryYellow:hover {
	background-color: #4B0082 !important;
	color: white !important;
	box-shadow: 5px 5px 0 0 #FCFC7A;
}

.yummieBtnPrimaryGray {
	background-color: #8799A5 !important;
	color: white !important;
	font-size: 1.5rem;
	font-weight: 900;
	text-align: center;
	border: 2px solid black;
	box-shadow: 5px 5px 0 0 #F28DE5;
	transition: all 0.3s ease-in-out;
}

.yummieBtnPrimaryGray:hover {
	background-color: #F28DE5 !important;
	color: white !important;
	box-shadow: 5px 5px 0 0 #8799A5;
}

.yummieOverview-card img {
	width: 100%;
	height: 250px;
	object-fit: cover;
	padding: 0;
	margin: 0;
}

.yummieDetail-backbutton {
	padding-top: 20px;
	padding-bottom: 20px;
}

.yummieDetail-btn-back {
	background-color: #4B0082 !important;
	color: white !important;
	font-size: 1.5rem;
	font-weight: 500;
	text-align: center;
	border: 2px solid black;
	box-shadow: 5px 5px 0 0 #FCFC7A;
	transition: all 0.3s ease-in-out;
	margin-left: 20px;
	padding-left: 50px;
	padding-right: 50px;

}

.yummieDetail-btn-back:hover {
	background-color: #FCFC7A !important;
	color: white !important;
	box-shadow: 5px 5px 0 0 #4B0082;
}

.yummieDetail-tab-button {
	background-color: #FEFEC8 !important;
	height: 100px;
	width: 250px;
}

.yummieDetail-tab-button:active {
	background-color: #FAFA33 !important;
}

.yummieDetail-tabcontent-box {
	background-color: #E8EBEE !important;
	padding: 50px !important;
	margin-top: 20px;
}

.yummieDetail-reservation-button {
	padding: 50px;
}

/* Standaard knoppenstijl */
.btn-day, .btn-time {
    background: #F700FF !important;
    color: white !important;
    border-radius: 10px;
    padding: 10px 20px;
    transition: all 0.3s ease;
}

/* Wanneer een knop geselecteerd is */
.form-btn-selected {
    background-color: #4B0082 !important;
    color: white !important;
    border: 2px solid #FCFC7A !important;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.carousel-inner img {
    max-height: 500px !important; /* Pas dit aan naar wens */
	width: auto !important;
    object-fit: cover; /* Zorgt ervoor dat de afbeelding mooi blijft */
    width: 100%; /* Zorgt ervoor dat de afbeelding altijd past */
}

.languageSelectionBar{
	background-color: #4B0082;
	color: #FCFC7A;
	font-size: 1rem;
	font-style: "Zen Dots", sans-serif;
	text-align: center;
	border-left: #FCFC7A;
	border-right: #FCFC7A;
	padding: 0;
	max-width: 800px;
}

.languageSelectionBar .col {
	padding: 0;
}

.languageSelectionBar button {
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
	padding: 10px;
	background: none;
	color: white;
	border: none;
	font-style: "Zen Dots", sans-serif;
}

.languageSelectionBarButton {
	font-style: "Zen Dots", sans-serif;
}

.languageSelectionBar button:hover {
	background-color: #FCFC7A;
	color: #4B0082;
}

.languageSelectionBar button.selected {
	background-color: #FCFC7A;
	color: #4B0082;
}

/* ********************* */
/* 		Dance Start		 */
/* ********************* */

#dance .swiper {
	width: 100%;
	height: 100%;
	user-select: none;
}

#dance .swiper-slide-normal {
	height: 150px;
}

#dance .swiper-slide-extended {
	height: calc(150px + 50px + 1rem * 2);
	background-color: var(--background-color);
	transition: height 0.5s;
}

#dance .swiper-slide-normal img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;

	/* border-radius: 1rem; */
}

#dance .image-container {
	width: 100%;
	height: 150px;
}

#dance .image-container img {
	width: 100%;
	height: 150px;
	object-fit: cover;
}

#dance .swiper-slide-normal i,
#dance .swiper-slide-extended i {
	color: #fff;
	background-color: rgba(0, 0, 0, 0.5);
	font-size: 1.5rem;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#dance .swiper-slide:hover i,
#dance .swiper-slide-extended:hover i {
	display: flex !important;
}

#dance .swiper-slide-extended button {
	width: 100%;
	height: 50px;
}

#dance .swiper-slide-extended:hover {
	height: 350px;
}

#dance .swiper-pagination {
	/* position: unset; */
}

#dance .event-button-hover button {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	display: none;
}

#dance .event-button-hover:hover button {
	display: block;
}

/* ********************* */
/* 		Dance End		 */
/* ********************* */


/* ***************************** */
/* 		Dance Details Start		 */
/* ***************************** */

#dance-artist .top-image {
	position: relative;
}

#dance-artist .top-image .buy-tickets {
	position: absolute;
	bottom: 2rem;
	left: 0;
	right: 0;
	margin: 0 auto;
	max-width: 50%;
}

#dance-artist .schedule .events-container {
	height: 5rem;
}

#dance-artist .schedule .events-container .event-box {
	background-color: #D9D9D9;
}

#dance-artist .schedule .schedule-items {
	min-width: 50rem;
}

#dance-artist .schedule .schedule-items .event-button-hover button {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	display: none;
}

#dance-artist .schedule .schedule-items .event-button-hover:hover button {
	display: block;
}

/* ***************************** */
/* 		Dance Details End		 */
/* ***************************** */


/* ***************************** */
/* 		Shopping Cart Start		 */
/* ***************************** */

#shopping-cart .ticket-info {
	background-color: #d2f5e3;
	padding: 20px;
}

#shopping-cart .btn-primary {
	background-color: #d9534f;
	border: none;
	padding: 10px 20px;
	font-weight: bold;
}

#shopping-cart .btn-primary:hover {
	background-color: #c9302c;
}

#shopping-cart .quantity-control {
	background-color: #4B0082;
	border-radius: 15px;
	color: white;
}

#shopping-cart .quantity-control button {
	width: 25px;
	height: 25px;
	line-height: 0;
	font-size: 2rem;
	color: #4B0082;
	background-color: #FCFC7A;
}

@media (min-width:768px) {
	#shopping-cart .add-to-selected-container {
		position: absolute;
		width: 15rem;
		right: -3rem;
	}
}

/* ***************************** */
/* 		Shopping Cart End		 */
/* ***************************** */


/* ********************* */
/* 		Stroll Start	 */
/* ********************* */
.Stroll_Banner {
	width: 100%;
	height: auto;
}

.Stroll_Detail_Map {
	width: 100%;
	height: auto;
	border-radius: 20px;
}

#details {
	max-width: 80% !important;
}

.row {
	display: flex;
	flex-wrap: wrap;
	justify-content: center !important;
	max-width: 100%;
}

.col {
	flex: 1;
	max-width: 80%;
	padding: 3rem;
	justify-content: center !important;
	box-sizing: border-box;
}

#strollDetailMap {
	width: 100%;
	height: 100%;
}

#strollDetailsRow {
	display: flex;
	align-items: flex-start;
	margin: 0 auto;
	width: 100%;
}

#strollDetailsCol {
	margin-top: 0 auto;
}

#strollDetailsCol {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-top: 0;
}

#strollDetaildescription {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#strollDetailsCol h1 {
	margin-bottom: 1rem;
}

#strollDetaildescription {

	width: fit-content;
	height: 100%;
	background-color: #4B0082;
	color: #FFFFFF;
	border-radius: 50px;
}

#strollLocations {
	margin-top: 50px;
	width: 100% !important;
	max-width: 90% !important;
	justify-content: center !important;

}

#strollLocations img {
	border-radius: 30px;
	max-width: 1000px;
	height: auto;
}


#strollDetaildescription p {
	margin-top: 0;
}

.routeImage{
	width: 100%;
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.routeImage img {
    width: 100%;
    height: auto;
    max-width: 100%;
    border-radius: 20px;
}

.RouteDestinations {
	background-color: #4B0082;
	max-width: 300px;
	justify-content: center !important;
	border-radius: 20px;
	padding: 1rem;
	line-height: 1;
	margin: 0 auto;
}

.RouteDestinations a {
	color: #FFFFFF;
	text-align: center;
	justify-content: center !important;
	text-decoration: underline;
	font-family: "Holtwood One SC", serif;
	font-size: 12pt;
}

.RouteDestinations a:hover {
	color: #FCFC7A;
	text-align: center;
}

.StrollStopNumber {
	color: #FFFFFF;
	font-family: "Holtwood One SC", serif;
	text-align: center;
	font-size: 12pt;
}

#strollTours {
	margin-left: 5%;
}

.event-card {
	border-radius: 50px !important;
	background-color: #4B0082;
	color: #FFFFFF;
	margin-bottom: 20px;
	display: inline-block;
	width: 100%;
	min-width: 300px !important;
	max-width: fit-content;
	background-color: transparent;
	border: none;
}

.event-card img {
	border-top-left-radius: 50px !important;
	border-top-right-radius: 50px !important;
	border-bottom-left-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
	width: 100%;
	height: auto;
	display: block;
	max-width: 100% !important;
	max-height: 100% !important;
}

.event-card .card-body {
	padding: 20px;
	background-color: #4B0082;
	color: #FFFFFF;
	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 50px;
}

.event-card .card-title {
	font-size: 1.5rem;
	font-weight: bold;
}

.event-card .card-text {
	font-size: 1rem;
	margin-bottom: 10px;
}

.event-card .form-select {
	background-color: #FCFC7A;
	color: #000;
	border-radius: 25px;
	padding: 10px;
	width: 100%;
	margin-top: 10px;
}


.stroll-swiper .swiper {
	padding-top: 50px;
	padding-bottom: 50px;
    max-width: 77%; 
    margin: auto; 
}

.stroll-swiper .swiper-slide {
    transition: transform 0.3s ease, opacity 0.3s ease; 
    transform: scale(0.8); 
}

.stroll-swiper .swiper-slide.center-slide {
    transform: scale(1.2); 
    z-index: 10; 
}

.stroll-swiper .swiper-slide.prev-slide,
.stroll-swiper .swiper-slide.next-slide {
    transform: scale(0.9);
    z-index: 5; 
}

.stroll-swiper .swiper-slide img {
    display: block;
    max-width: 80% !important;
    max-height: auto !important; 
    object-fit: fill;
	object-position: center;
	margin: 0 auto; 
	border-radius: 30px;
}

.StrollDetail-btn-back {
	background-color: #FCFC7A !important;
	color: black !important;
	font-size: 1.5rem;
	margin-top: 25px;
	padding:5px;
	font-family: 'holtwood-one-sc-regular', sans-serif !important;
	font-weight: 500;
	text-align: center;
	border: 2px solid black;
	box-shadow: 5px 5px 0 0 #4B0082;
	transition: all 0.3s ease-in-out;
	margin-left: 20px;
	padding-left: 50px;
	padding-right: 50px;

}

.StrollDetail-btn-back:hover {
	background-color: #4B0082 !important;
	color: white !important;
	box-shadow: 5px 5px 0 0 #FCFC7A;
}

/* ********************* */
/* 		Stroll End		 */
/* ********************* */
/* ********************* */
/*	jazz detail start	 */
/* ********************* */
#jazzDetail {
    /* Add your CSS styles here */
}

#jazzDetail > div:first-child{
    display: flex; 
    align-items: center; 
    width: 100%; 
    margin-bottom: 20px;
}

#jazzDetail .jazzbutton{
    position: absolute; 
    left: 20px;
    margin-top: 20px;
    background-color: grey; 
    color: white; 
    border-radius: 0; 
    padding: 10px 20px;
}

#jazzDetail > div:first-child > div {
    flex-grow: 1; 
    text-align: center;
    margin-top: 20px;
}

#jazzDetail > div:first-child > div > h1 {
    margin: 0;
}

#jazzDetail img.img-fluid.mb-4{
    width: 100vw; 
    max-width: 100%; 
    max-height: 317px; 
    display: block;
}

#jazzDetail .container{
    display: flex; 
    align-items: center;
}

#jazzDetail .container > div:first-child {
    width: 811px; 
    margin-right: 20px;
}

#jazzDetail .container img.img-fluid.mb-3{
    width: 811px; 
    height: 377px;
}

#jazzDetail .container-fluid.py-4{

}

#jazzDetail #artist-photo-container img.img-fluid.rounded.object-fit-cover{
    width: 48%; 
    max-height: 360px; 
    height: auto;
}

#jazzDetail #music-player-container > div{
    gap: 5px;
}

#jazzDetail .ticket-container {
    width: 100%; 
    max-width: 1600px; 
    margin: 20px auto; 
    padding: 0 15px;
    box-sizing: border-box; 
}
#jazzDetail .card.bg-custom {
    background-color: #FCFC7A; 
    border-radius: 8px;
}
#jazzDetail .see-program-btn {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 10;
}

#jazzDetail .card-title.text-center {

}
#jazzDetail .bg-light.p-3{

}
#jazzDetail .btn.btn-danger.btn-sm{
    margin-left: 20px;
}
/* ********************* */
/*	jazz detail end	     */
/* ********************* */
